*.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Classe1/.syncinfo.snap
*.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
*.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Classe1/.syncinfo.snap
*.resources
.metadata/.plugins/org.eclipse.core.resources/.snap